body {
  font-family: sans-serif;
   background: linear-gradient(135deg, #ffe5ec, #e0f7fa);
  margin: 0;
}


header {
  background: #333;
  color: white;
  padding: 10px;
}
nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}
main {
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ccc;
  padding: 8px;
}
