.list-item{
   

    background-color: #fff;
}
body{
    /* background-color: #7e7171; */
     background: linear-gradient(135deg, #ffe5ec, #e0f7fa); 
     /* background: linear-gradient(135deg, #4f4d4d, #4f4d4d); */
     /* background: linear-gradient( #4f4d4d, #4f4d4d); */


    

}
.picture{
     /* width: 241px; */
     width: 100%;
}
.cart-picture{
  width: 200px;
}
/* .title{
    color: ;
} */
 .description {
        display: -webkit-box; /* Required for -webkit-line-clamp */
        -webkit-line-clamp: 2; /* Limit to 2 lines */
        -webkit-box-orient: vertical; /* Required for -webkit-line-clamp */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis for truncated text */
        width: 250px;
    }

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.discount {
  color: #d32f2f;
  font-weight: bold;
}

.final-price {
  font-size: 1.2em;
  font-weight: bold;
  color: #2e7d32;
}


.hero{
  width: 100%;
  /* height: 300px; */
  height: auto;
}


.product-detail { max-width: 600px; margin: auto; padding: 20px; }
.product-gallery { display: flex; flex-direction: column; gap: 15px; align-items: center; }
.main-image img { width: 100%; max-width: fit-content; border-radius: 12px; }
.thumbnails { display: flex; gap: 10px; }
.thumbnails img { width: 70px; height: 70px; object-fit: cover; border-radius: 8px; cursor: pointer; border: 2px solid transparent; }
.thumbnails img:hover { border: 2px solid #333; }

.myorder{
  color: #2e7d32;
}





/* footer */
/*
Source - https://stackoverflow.com/a
Posted by Head In Cloud, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-02, License - CC BY-SA 3.0
*/

footer{
      background: #EEEEEE;
      margin: 0 auto;
      /* height: 30px; */
      /* padding-top: 20px; */
      padding: 40px;
      width: 100%;
      text-align: center;
      /* margin-bottom: 20px; */
  }
  footer ul{
  margin: 0px;
    padding:0;
  }
  footer li {
    /*  float: left;  */
      list-style-type: none;
      line-height: 9px;
      height: 11px;
      border-right: 1px solid #354052;
      padding: 0px 10px;
    display:inline;
  }
  footer li a{
      text-decoration: none;
      color: #354052;
      font-size: 12px;
  }

  /* Swatches bof */
  .swatch {
  cursor: pointer;
  position: relative;
}

.swatch input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.swatch-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
}

.swatch input[type="radio"]:checked + .swatch-img {
  border-color: #000;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

/* swatches eof */